/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Corpo da página */
body {
    background: linear-gradient(135deg, #f8f9fa, #e8ecf1);
    font-family: 'Poppins', sans-serif;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url(img.jpg);
}

/* Container principal */
.container {
    background: rgba(255, 255, 255, 0.15); /* leve transparência branca */
    width: 90%;
    max-width: 700px;
    padding: 30px;
    border-radius: 16px;
    backdrop-filter: blur(20px) saturate(180%);
    -webkit-backdrop-filter: blur(20px) saturate(180%);
    transition: 0.3s ease;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.25), 0 0 25px rgba(255, 105, 180, 0.2); 
}


.container:hover {
    transform: translateY(-5px);
    box-shadow: 0 12px 30px rgba(79, 23, 90, 0.15);
}

/* Cabeçalho */
header {
    text-align: center;
    margin-bottom: 25px;
}

h1 {
    color: #482c50;
    font-family: 'Cormorant Garamond', serif;
    font-size: 2.6em;
    font-style: italic;
    margin-bottom: 8px;
}

.intro {
    font-size: 1.1em;
    color: #666;
}

/* Seções */
section {
    margin-bottom: 25px;
}

h2 {
    color: #482c50;
    font-size: 1.4em;
    margin-bottom: 10px;
    border-left: 5px solid #7a1783;
    padding-left: 10px;
    font-family: 'Cormorant Garamond', serif;
}

p {
    margin-bottom: 10px;
    line-height: 1.6;
}

/* Lista */
ul {
    list-style: none;
    padding: 0;
}

ul li {
   background: rgba(255, 182, 193, 0.25); 
    margin: 6px 0;
    padding: 12px 18px;
    border-radius: 12px;
    backdrop-filter: blur(12px);
    border: 1px solid rgba(255, 192, 203, 0.4); 
    box-shadow: 0 0 15px rgba(255, 105, 180, 0.25); 
    transition: all 0.3s ease;
}

ul li:hover {
    background: rgba(255, 182, 193, 0.4);
    box-shadow: 0 0 25px rgba(255, 105, 180, 0.45);
    transform: scale(1.02);
}

/* Links */
a {
    color: #763379;
    text-decoration: none;
    font-weight: 600;
    transition: color 0.3s ease;
}

a:hover {
    color: #b33abe;
    text-decoration: underline;
}

/* Rodapé */
footer {
    text-align: center;
    margin-top: 20px;
    font-size: 0.9em;
    color: #616161;
}
